@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
    @apply font-poppins md:py-3
}

.nav {
    @apply flex items-center justify-between p-4 md:container
}

.nav--menu {
    @apply fixed top-16 md:hidden right-4 rounded-xl left-4 transition-transform duration-500 ease-in-out h-[55%] bg-DarkViolet z-50
}

.nav--menu--desktop {
    @apply space-x-6 text-GrayishViolet font-bold
}


.nav--logo--wrapper{
    @apply flex items-center gap-6
}

.nav--list {
    @apply flex gap-4 text-GrayishViolet 
}

.nav--items{
    @apply hover:text-VeryDarkViolet
}

.sign--up{
    @apply bg-Cyan py-2 px-5 rounded-full text-white hover:brightness-110 font-bold
}

.hero--section{
    @apply md:container
}

.article--heading {
    @apply text-VeryDarkBlue text-3xl mt-5 font-bold text-center
}

.article--paragraph {
    @apply text-GrayishViolet text-center px-4 mt-2 tracking-wide
}

.shortening--form {
    @apply  mt-4 
}

.advanced--stats {
    @apply px-4 pt-20 bg-gray-100 
}

.stats--header{
    @apply text-2xl text-center font-bold text-VeryDarkBlue
}

.stats--text{
    @apply text-GrayishViolet text-center mt-3 mb-10
}

.card{
    @apply relative  mt-16
}

.card--wrapper{
    @apply space-y-14
}

.card--items {
    @apply relative rounded-xl bg-white p-5 
    flex flex-col items-center justify-center h-full
}

.card--items img{
    @apply bg-DarkViolet p-3 rounded-full -mt-12
}

.card--header{
    @apply text-2xl text-center mt-6 font-bold text-VeryDarkBlue
}

.card--text{
    @apply text-GrayishViolet text-center mt-4 mb-6
}

.boost {
    background-color: hsl(257, 27%, 26%);
    height: 17.188rem;
}
  
.boost img {
height: 17.188rem;
@apply w-full;
}

.boost .boost-inner {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.btn-cta {
@apply bg-cyan-500 py-2 px-4 text-white hover:opacity-75 transition-all duration-150 cursor-pointer;
}

.footer--list{
    text-align: center;
    @apply md:text-left;
}

.footer--article{
    text-align: center;
    @apply md:text-left;
}
